#header {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid black;
}

.header-text {
    padding: 10px 0;
}
